body {
    background-color: #f8f8f8; 
    color: #3e3ef8; 
    font-family: Arial, sans-serif;
    text-align: center;
    width: 200px;
    border: none;
  }

h2 {
    font-size: 20px; 
    font-weight: bold;
}
  
button {
    background-color: #f8f8f8; 
    color: #7c7cf8; 
    margin: 5px;
    padding: 10px;
    width: 90%;
    border: solid #3e3ef8;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

button:hover {
    background-color: #babaf8; 
    color: #f8f8f8;
    transform: scale(1.05);
}

button:active {
    background-color: #7c7cf8; 
    color: #f8f8f8;
    transform: scale(0.98);  
}

button:focus {
    outline: none; 
    background-color: #babaf8; 
    color: #3e3ef8;
    box-shadow: 0 0 0 2px #3e3ef8;
}

#context-menu {
    display: inline-block;
    flex-direction: column;
    gap: 0px;
  }
  
  #context-menu button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  #context-menu button:hover {
    background-color: #45a049;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  